@import "../../../styles";

md-card {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 2px;

  @media ($mat-small) {
    padding: 8px;
  }

  md-card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    md-checkbox {
      padding-right: 1rem;
    }

    h3 {
      font-weight: bold !important;
      margin: 0;
    }
  }

  md-card-actions {
    margin-top: -16px;
    padding: 12px 0 !important;

    button {
      margin-right: 0.5rem;

      @media ($mat-small) {
        margin: 0;
      }
    }
  }
}

