@import "../../styles";

section.app-container {
  padding-top: 0;
  min-height: calc(100vh - 60px);

  background: mat-color($primary, 100);

  md-select,
  md-input-container {
    width: 100%;
    margin-bottom: 0.9em;
  }

  @include breakpoint(tablet) {
    padding-top: 2em;
  }

  @include breakpoint(desktop) {
    padding-top: 3em;
  }

}

md-card {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 2px;

  @media ($mat-small) {
    padding: 8px;
  }

  md-card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    md-checkbox {
      padding-right: 1rem;
    }

    h3 {
      font-weight: bold !important;
      margin: 0;
    }
  }

  md-card-actions {
    margin-top: -16px;
    padding: 12px 0 !important;

    button {
      margin-right: 0.5rem;

      @media ($mat-small) {
        margin: 0;
      }
    }
  }
}

