<section class="app-container"
         fxLayout="row"
         fxLayoutAlign="space-around">

  <div fxFlex="100"
       fxFlex.gt-sm="70"
       fxFlex.gt-lg="35">

    <div style="width: 100%; text-align: center">
      Hello
    </div>

    <form [formGroup]="addItemForm"
          #form="ngForm"
          (ngSubmit)="onSubmit(addItemForm)"
          novalidate
          name="addItemForm">
      <div>
        <md-input-container>
          <input type="text"
                 mdInput
                 formControlName="label"
                 placeholder="Enter a to-do...">
        </md-input-container>
      </div>

      <div *ngIf="addItemForm.get('label').valid">
        <div>
          <md-select fxFlex="25"
                     placeholder="Assign"
                     formControlName="assigned">
            <md-option *ngFor="let people of peoples" [value]="people">
              {{people}}
            </md-option>
          </md-select>
        </div>

        <div>
          <button md-raised-button
                  type="submit"
                  color="accent">
            SAVE
          </button>
        </div>

        <hr/>
        <br />
      </div>
    </form>

    <div>
      <app-todo *ngFor="let todo of todos"
                [label]="todo.label"
                [finished]="(todo.achieved)"
                (onDeleted)="refresh()"></app-todo>
    </div>
  </div>

</section>
