@import "../../styles";

section.app-container {
  padding-top: 0;
  min-height: calc(100vh - 60px);

  background: mat-color($primary, 100);

  md-select,
  md-input-container {
    width: 100%;
    margin-bottom: 0.9em;
  }

  @include breakpoint(tablet) {
    padding-top: 2em;
  }

  @include breakpoint(desktop) {
    padding-top: 3em;
  }

}
